{
  "printWidth": 100,
  "singleQuote": true,
  "semi": false,
  "useTabs": false,
  "trailingComma": "none",
  "proseWrap": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSortSpecifiers": true
}
